:root {
  --main-color: #0083ec;
  --secondry-color: #eee;
  --main-radius: 10px;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
  height: 200px;
  background-color: #0075ff;
}

::-webkit-scrollbar-thumb:horizontal {
  width: calc(100% - 35px);
  background-color: #0075ff;
}

* {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* height: 1000vh; */
  scrollbar-color: blue;
}

html {
  scroll-behavior: smooth;
}

/* Start global styles */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* end global style */

/* STart Navigation bar */
.page {
  display: grid;
  grid-template-areas:
    "nav se se se se se se se se se "
    "nav sett sett sett sett sett sett sett sett sett ";
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 65px;
}

.common {
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 200px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  grid-area: nav;
  position: relative;
  z-index: 1000000;
}

@media (max-width:768px) {
  .common {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.common h2 {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  padding-top: 20px;
  font-size: 20px;
}

@media (max-width:768px) {
  .common h2 {
    font-size: 14px;
    margin-bottom: 15px;
    padding-top: 10px;
  }
}

.common h2::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: black;
  z-index: 1;
  left: 50%;
  bottom: -17px;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

@media (max-width:768px) {
  .common h2::before {
    display: none;
  }
}

.common h2::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: -24px;
  border: 3px solid #fff;
  transform: translate(-50%);
  left: 50%;
  z-index: 2;
  background-color: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width:768px) {
  .common h2::after {
    display: none;
  }
}

.common ul {
  padding: 0;
  list-style: none;
  margin-top: 55px;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width:768px) {
  .common ul {
    margin-top: 0;
  }
}

.common a:hover li {
  background-color: #f6f6f6;
}

.common ul a:nth-of-type(7) li {
  background-color: #f6f6f6;
}

.common li {
  display: flex;
  padding: 11px 5px;
  margin-bottom: 5px;
  height: 37px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 15px;
  align-items: center;
}

.common ul li i {
  flex-basis: 30px;
  margin-right: 10px;
}

@media (max-width:768px) {
  .common ul li i {
    margin-right: 0;
  }
}

@media (max-width:768px) {
  .common ul li p {
    display: none;
  }
}

.common ul a {
  color: black;
  text-decoration: none;
  transition-duration: 0.3s;
}

/* End Navigation bar */

/* Start SEarch Bar */
.search {
  grid-area: se;
  background-color: #fff;
  display: grid;
}

.search .dad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.search form {
  position: relative;
}

.search form::before {
  content: "\f002";
  font-family: "fontawesome";
  position: absolute;
  z-index: 2;
  top: 12px;
  left: 9px;
  font-size: 15px;
  color: #aaa;
}

.search form input {
  border: 1px solid #ddd;
  outline: none;
  padding: 10px 0px 10px 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition-duration: 0.3s;
  width: 165px;
}

.search form input:focus {
  width: 200px;
}

.search form input:focus::placeholder {
  color: white;
}

.search form ::placeholder {
  font-size: 13px;
  font-family: sans-serif;
}

.search .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search .icons i {
  font-size: 20px;
  margin-right: 10px;
  position: relative;
}

.search .icons::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 0px;
  left: 12px;
}

.search img {
  width: 35px;
}

/* End SEarch Bar */

/* start courses */
.files {
  background-color: #f1f5f9;
  grid-area: sett;
  padding: 0 20px;
  width: 100%;
  padding-bottom: 30px;
  text-transform: capitalize;
}

.files .head {
  width: fit-content;
}

.files .head h1 {
  position: relative;
}

.files .head h1::before,
.files .head h1:after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -10px;
}

.files .head h1::before {
  background-color: #fff;
  width: 180%;
}

.files .head h1:after {
  background-color: black;
  width: 80%;
  left: 0;
}

.files .dad {
  display: flex;
  gap: 20px;
}

.files .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 45px;
  padding-left: 0;
  width: 100%;
  padding-right: 0;
  gap: 20px;
}

@media (max-width:767px) {
  .files .container {
    display: grid;
    grid-template-columns: minmax(200, 1fr);
    margin-top: 0;
  }
}


.files .container .box {
  background-color: #fff;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;

}

.files .container .box i {
  color: #888;
  position: relative;
}

.files .container .box .textt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -7px;
  margin-bottom: 15px;
}

.files .container .box .textt img {
  max-width: 100%;
  width: 60px;
  margin-bottom: 15px;
}

.files .container .box .textt p {
  font-size: 14px;
}

.files .container .box span {
  color: #888;
  font-size: 14px;
}

.files .container .box .foot {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 11px;
  padding: 11px 0;
  border-top: 1px solid #eee;
  align-items: center;
}

.files .container .box .foot p {
  color: #888;
}

.files .container .box .foot span {
  font-size: 12px;
}

.files .dad .sup {
  background-color: #fff;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  height: fit-content;
  flex-basis: 300px;
  margin-top: 45px;
}

@media (max-width:768px) {
  .files .dad {
    flex-direction: column-reverse;
  }
}

.files .dad .content {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 1px solid #eee;
  padding: 10px;
}

.files .dad .sup .content:nth-of-type(2) i {
  background-color: rgb(0 117 255 / 20%);
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0083ec;
  margin-right: 5px;
}

.files .dad .sup .content:nth-of-type(3) i {
  background-color: rgb(34 197 94 / 20%);
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #22c55e;
  margin-right: 5px;
}

.files .dad .sup .content:nth-of-type(4) i {
  background-color: rgb(245 158 11 / 20%);
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f59e0b;
  margin-right: 5px;
}

.files .dad .sup .content:nth-of-type(5) i {
  background-color: rgb(244 67 54 / 20%);
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f44336;
  margin-right: 5px;
}

.files .dad .sup .mm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.files .dad .sup .textt p {
  font-size: 12px;
}

.files .dad .sup .textt span {
  font-size: 12px;
  color: #888;
  margin-top: 10px;
  display: block;
}

.files .dad .sup h4 {
  font-size: 12px;
  color: #888;
  font-weight: normal;
}

.files .dad .sup .button {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.files .dad .sup .button a {
  display: flex;
  color: #fff;
  background-color: var(--main-color);
  width: fit-content;
  justify-content: center;
  padding: 12px 15px;
  font-size: 12px;
  gap: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition-duration: 0.3s;
}
.files .dad .sup .button a i {
  transition-duration: 0.3s;
}
.files .dad .sup .button a:hover i {
animation-name: topdown; 
animation-duration: 0.3s;
animation-iteration-count: infinite;
animation-direction: alternate;

}
@keyframes topdown {
  to {
      transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -o-transform: translateY(-5px);
}
}