:root {
  --main-color: #0083ec;
  --secondry-color: #eee;
  --main-radius: 10px;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
  height: 200px;
  background-color: #0075ff;
}

::-webkit-scrollbar-thumb:horizontal {
  width: calc(100% - 35px);
  background-color: #0075ff;
}

* {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* height: 1000vh; */
  scrollbar-color: blue;
}

html {
  scroll-behavior: smooth;
}

/* Start global styles */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* end global style */

/* STart Navigation bar */
.page {
  display: grid;
  grid-template-areas:
    "nav se se se se se se se se se "
    "nav sett sett sett sett sett sett sett sett sett ";
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 65px;
}

.common {
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 200px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  grid-area: nav;
  position: relative;
  z-index: 1000000;
}

@media (max-width:768px) {
  .common {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.common h2 {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  padding-top: 20px;
  font-size: 20px;
}

@media (max-width:768px) {
  .common h2 {
    font-size: 14px;
    margin-bottom: 15px;
    padding-top: 10px;
  }
}

.common h2::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: black;
  z-index: 1;
  left: 50%;
  bottom: -17px;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

@media (max-width:768px) {
  .common h2::before {
    display: none;
  }
}

.common h2::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: -24px;
  border: 3px solid #fff;
  transform: translate(-50%);
  left: 50%;
  z-index: 2;
  background-color: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width:768px) {
  .common h2::after {
    display: none;
  }
}

.common ul {
  padding: 0;
  list-style: none;
  margin-top: 55px;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width:768px) {
  .common ul {
    margin-top: 0;
  }
}

.common a:hover li {
  background-color: #f6f6f6;
}

.common ul a:nth-of-type(4) li {
  background-color: #f6f6f6;
}

.common li {
  display: flex;
  padding: 11px 5px;
  margin-bottom: 5px;
  /* width: 100%; */
  height: 37px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 15px;
  align-items: center;
}

.common ul li i {
  flex-basis: 30px;
  margin-right: 10px;
}

@media (max-width:768px) {
  .common ul li i {
    margin-right: 0;
  }
}

@media (max-width:768px) {
  .common ul li p {
    display: none;
  }
}

.common ul a {
  color: black;
  text-decoration: none;
  transition-duration: 0.3s;
}

/* End Navigation bar */

/* Start SEarch Bar */
.search {
  grid-area: se;
  background-color: #fff;
  display: grid;
}

.search .dad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.search form {
  position: relative;
}

.search form::before {
  content: "\f002";
  font-family: "fontawesome";
  position: absolute;
  z-index: 2;
  top: 12px;
  left: 9px;
  font-size: 15px;
  color: #aaa;
}

.search form input {
  border: 1px solid #ddd;
  outline: none;
  padding: 10px 0px 10px 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition-duration: 0.3s;
  width: 165px;
}

.search form input:focus {
  width: 200px;
}

.search form input:focus::placeholder {
  color: white;
}

.search form ::placeholder {
  font-size: 13px;
  font-family: sans-serif;
}

.search .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search .icons i {
  font-size: 20px;
  margin-right: 10px;
  position: relative;
}

.search .icons::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 0px;
  left: 12px;
}

.search img {
  width: 35px;
}

/* End SEarch Bar */

/* start settings */
.projects {
  background-color: #f1f5f9;
  grid-area: sett;
  padding: 0 20px;
  width: 100%;
  padding-bottom: 30px;
  text-transform: capitalize;
}

.projects .head {
  width: fit-content;
}

.projects .head h1 {
  position: relative;
}

.projects .head h1::before,
.projects .head h1:after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -10px;
}

.projects .head h1::before {
  background-color: #fff;
  width: 100%;
}

.projects .head h1:after {
  background-color: black;
  width: 30%;
  left: 0;
}

.projects .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  margin-top: 45px;
  padding-left: 0;
  width: 100%;
  padding-right: 0;
  gap: 20px;
}

@media (max-width:767px) {
  .projects .container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
  }
}


.projects .container .box {
  background-color: #fff;
  padding: 20px 20px 0 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-bottom: 15px;
  position: relative;
}

.projects .container .box:nth-of-type(1):after {
  content: "15/10/2021";
  color: #777;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 13px;
}
.projects .container .box:after {
  content: "15/6/2022";
  color: #777;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 13px;
}

.projects .container .box .main {
  text-transform: capitalize;
}

.projects .container .box .text {
  margin-bottom: 20px;
}

.projects .container .box .text h2 {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: normal;
}

.projects .container .box .text p {
  color: #888;
  font-size: 14px;
}

.imeges {
  margin-top: 50px;
}

.imeges img {
  border: 2px solid #fff;
  position: relative;
  width: 40px;
  transition-duration: 0.3s;
  border-radius: 50%;
}

.imeges img:hover {
  z-index: 1;
  cursor: pointer;
}

.imeges img:nth-of-type(1) {
  left: 0px;
}

.imeges img:nth-of-type(2) {
  left: -20px;
}

.imeges img:nth-of-type(3) {
  left: -40px;
}

.imeges img:nth-of-type(4) {
  left: -60px;
}

.imeges img:nth-of-type(5) {
  left: -80px;
}

.projects .dad .items {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
@media (max-width:768px) {
  .projects .dad .items {
    flex-direction: column;
    gap: 15px;
  }
}

.projects .dad .items p {
  background-color: #eee;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: fit-content;
}

.projects .dad .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
@media (max-width:768px) {
  .projects .dad .foot {
    flex-direction: column;
    gap: 15px;
  }
}

.projects .dad .foot span {
  display: block;
  width: 250px;
  height: 8px;
  background-color: #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  position: relative;
}

.projects .one:nth-of-type(1) .foot span:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  background-color: #f44336;
  border-radius: 6px;
}
.projects .one:nth-of-type(2) .foot span::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  left: 0;
  background-color: #22c55e;
  border-radius: 6px;
}
.projects .one:nth-of-type(3) .foot span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #0075ff;
  border-radius: 6px;
}
.projects .one:nth-of-type(4) .foot span::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  background-color: #22c55e;
  border-radius: 6px;
}
.projects .one:nth-of-type(5) .foot span::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  left: 0;
  background-color: #22c55e;
  border-radius: 6px;
}
.projects .one:nth-of-type(6) .foot span::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  background-color: #f44336;
  border-radius: 6px;
}
.projects .one:nth-of-type(7) .foot span::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  left: 0;
  background-color: #22c55e;
  border-radius: 6px;
}
.projects .one:nth-of-type(8) .foot span::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  background-color: #22c55e;
  border-radius: 6px;
}
.projects .one:nth-of-type(9) .foot span::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  left: 0;
  background-color: #22c55e;
  border-radius: 6px;
}

.projects .dad .foot p {
  color: #777;
  font-size: 15px;
}